* {
    appearance: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.167;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    border: 0;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

input::-ms-clear {
    display: none;
}

a {
    outline: none;
    color: #000;
    text-decoration: none;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

textarea {
    resize: none;
}




.d-flex {
    display: flex;
}

.a {
    color: rgb(60, 140, 0);
    font-size: 16px;
    transition: 200ms;
}

.a:hover {
    color: rgb(60, 180, 0);
}

.a:active {
    color: rgb(60, 100, 0);
}

.button {
    background-color: rgb(60, 140, 0);
    color: white;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 16px;
    transition: 200ms;
    padding: 12px 20px;
}

.button:hover {
    background-color: rgb(60, 180, 0);
}

.button:active {
    background-color: rgb(60, 100, 0);
}

.loader {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.loader._load {
    display: none;
}

.loader__inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
}

.bar:first-child {
    animation-delay: 0.1s;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.3s;
}

.bar:nth-child(4) {
    animation-delay: 0.4s;
}

.bar:nth-child(5) {
    animation-delay: 0.5s;
}

.bar:nth-child(6) {
    animation-delay: 0.6s;
}

.bar:nth-child(7) {
    animation-delay: 0.7s;
}

.bar:nth-child(8) {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
    }

    50% {
        transform: scaleY(1);
        background: yellowgreen;
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}


.label {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.input {
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(220, 220, 220);
    border-radius: 8px;
    transition: 200ms;
    padding: 12px;
    width: 100%;
}

.input-second {
    background-color: transparent;
    border: 2px solid rgb(60, 140, 0);
    border-radius: 8px;
    transition: 200ms;
    padding: 12px;
    width: 100%;
}

.input-second::placeholder {
    color: rgb(60, 140, 0);
}

.input-second:hover {
    border-color: rgb(60, 180, 0);
}

.input-second:active {
    border-color: rgb(60, 100, 0);
}

.svg-green-stroke {
    stroke: rgb(60, 140, 0);
    transition: 200ms;
}

.svg-green-stroke:hover {
    stroke: rgb(60, 180, 0);
}

.svg-green-stroke:active {
    stroke: rgb(60, 100, 0);
}

.svg-red-stroke {
    stroke: rgb(160, 40, 0);
    transition: 200ms;
}

.svg-red-stroke:hover {
    stroke: rgb(200, 40, 0);
}

.svg-red-stroke:active {
    stroke: rgb(120, 40, 0);
}

.ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.li {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.li::before {
    background-color: rgb(60, 180, 0);
    border-radius: 50%;
    content: "";
    width: 8px;
    height: 8px;
}

._green-text {
    color: rgb(60, 140, 0);
}

._yellow-text {
    color: rgb(180, 160, 0);
}

._orange-text {
    color: rgb(140, 90, 0);
}

._red-text {
    color: rgb(160, 40, 0);
}

.select {
    position: relative;
}

.select__title {
    margin-bottom: 4px;
}

.select__input {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(42 42 42 / 10%);
    font-size: 16px;
    transition: all 200ms, border-radius 1200ms;
    padding: 15px;
    width: 100%;
}

.select._active .select__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 200ms, border-radius 200ms;
}

.select__list {
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 4px 8px rgb(42 42 42 / 10%);
    position: absolute;
    transition: all 400ms;
    overflow: hidden;
    max-height: 0;
    width: 100%;
}

.select__item {
    cursor: pointer;
    padding: 15px;
    transition: 200ms;
}

.select__item:hover {
    background-color: rgb(60, 180, 0);
    color: white;
}

.select__item:active {
    background-color: rgb(60, 100, 0);
    color: white;
}

.select._active .select__list {
    transition: all 800ms;
    max-height: 100vh;
}

.checkbox {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.checkbox__input:checked+.checkbox__icon::before {
    opacity: 1;
}

.checkbox__icon {
    border: 2px solid rgb(60, 140, 0);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 16px;
    min-width: 16px;
    height: 16px;
}

.checkbox__icon::before {
    background-color: rgb(60, 140, 0);
    border-radius: 2px;
    content: "";
    position: absolute;
    opacity: 0;
    transition: 200ms;
    width: 8px;
    height: 8px;
}

.message {
    margin-bottom: 18px;
}

.message-center {
    display: flex;
    justify-content: center;
}




html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(60, 140, 0);
    border-radius: 8px;
}

body {
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: rgb(60, 140, 0) white;
}

.wrapper {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    padding: 102.75px 0 20px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.block-style {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(42 42 42 / 10%);
    padding: 15px;
}




.header {
    background-color: white;
    box-shadow: 0 4px 8px rgba(42, 42, 42, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header__seach {
    display: flex;
    width: 100%;
    max-width: 500px;
}

.header__seach_input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.header__seach_input:hover {
    border-color: rgb(60, 180, 0);
}

.header__seach_input:focus {
    border-color: rgb(60, 100, 0);
}


.header__seach_button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.header__profile_link {
    display: flex;
    align-items: center;
    flex-direction: column;
}




.breadcrumbs {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 16px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    column-gap: inherit;
}

.breadcrumbs__item::after {
    content: "/";
    font-weight: 500;
}

.breadcrumbs__item:last-child::after {
    content: none;
}




.catalog__title {
    margin-bottom: 24px;
}

.catalog__container {
    display: flex;
    align-items: flex-start;
    column-gap: 40px;
}

.catalog__aside_form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 200px;
}

.catalog__aside_filter .filter__title {
    margin-bottom: 6px;
}

.catalog__aside_filter .filter__inputs {
    display: flex;
    column-gap: 5px;
}

.catalog__aside_filter .filter__list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.catalog__shop {
    flex-grow: 1;
}

.catalog__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.catalog__sort {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.catalog__sort_list {
    display: flex;
    column-gap: 10px;
}

.catalog-product {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.catalog-product__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 4px;
    padding: 15px;
}

.catalog-product__image {
    display: flex;
    padding-top: 140%;
    position: relative;
}

.catalog-product__image img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.catalog-product__price {
    color: rgb(60, 140, 0);
    font-weight: 500;
}

.catalog-product__info_bottom {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}




.pagination {
    display: flex;
    justify-content: center;
}

.pagination_list {
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
}




.auth {
    height: 100%;
}

.auth__title {
    margin-bottom: 100px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    margin: 0 auto;
}

.auth__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 8px;
    margin: 10px auto 0;
}

.auth__button {
    padding-left: 30px;
    padding-right: 30px;
    flex-basis: 100%;
}

.login__form {
    max-width: 400px;
}

.registration__form {
    max-width: 800px;
}

.registration__form {
    flex-direction: row;
    flex-wrap: wrap;
}

.registration__label {
    flex: 0 0 calc(50% - 12px);
}




.greeting {
    margin-bottom: 80px;
}

.greeting__container {
    display: flex;
    column-gap: 40px;
}

.greeting__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.greeting__list-title {
    margin-top: 20px;
}

.greeting__list-title {
    font-weight: 500;
    margin-bottom: 8px;
}

.greeting__info_bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    row-gap: 8px;
    flex-grow: 1;
    margin-top: 10px;
}

.greeting__image {
    flex-basis: 45%;
}

.greeting__image img {
    width: 100%;
}




.main__catalog {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.main__products {
    display: flex;
    column-gap: 30px;
    overflow: auto;
}

.main__product {
    flex: 0 0 calc(20% - 25px);
}




.product {
    margin-bottom: 56px;
}

.product__title {
    margin-bottom: 24px;
}

.product__content {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}

.product__image {
    width: 100%;
    max-width: 240px;
}

.product__image img {
    width: 100%;
}

.product__info {
    flex-grow: 1;
}

.product__info_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product__rental {
    display: flex;
    column-gap: 10px;
}

.product__rental >*{
    max-height: 48px;
}


.product__rental_select {
    max-width: 70px;
}

.product__rental_select .select__item::after {
    content: " ะด";
}

.product__author {
    font-size: 14px;
}

.product__name {
    font-size: 20px;
    display: inline-block;
    margin: 4px 0;
}

.product__views {
    color: #363636;
    font-size: 13px;
}

.product__price {
    text-align: right;
}

.product__description {
    margin-bottom: 14px;
}



.product__buy {
    max-width: 160px;
}

.product__info_list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.product__info_item {
    display: flex;
    column-gap: 4px;
}




.comments__title {
    font-size: 24px;
    margin-bottom: 24px;
}

.comments__title .a {
    font-size: inherit;
}

.comments__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}


.comment {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

.comment__avatar {
    width: 100%;
    max-width: 48px;
}

.comment__image {
    padding-top: 100%;
    position: relative;
}

.comment__image img {
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.comment__info {
    flex-grow: 1;
}

.comment__info_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.comment__info_top_right {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.comment__mark {
    font-weight: 500;
}

.comment__text {
    max-height: 300px;
    margin-bottom: 8px;
}

.comment__date {
    color: #363636;
    font-size: 13px;
}

.comments__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 32px;
}

.comments__textarea {
    min-height: 108px;
}

.comments__form .select__list {
    background-color: rgb(240, 240, 240);
}




.profile {
    margin-bottom: 40px;
}

.profile__title {
    margin-bottom: 24px;
}

.profile__content {
    display: flex;
    column-gap: 10px;
}

.profile__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: space-between;
    flex-grow: 1;
}

.profile__avatar {
    align-self: flex-start;
    max-width: 300px;
    width: 100%;
}

.profile__image {
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.profile__avatar img {
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.profile__info_list {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.profile__info_edit-list {
    column-gap: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 500px;
}

.profile__info_edit-list>li {
    flex-basis: calc(50% - 8px);
}

.profile__info_edit-list>li:last-child {
    flex-basis: 100%;
}

.profile__info_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__edit {
    align-self: flex-start;
}